{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <small>서울 공원현황 -</small> <strong>{{park_result.gu}}</strong>
{% endblock %}
{% block content %}
        <table class="table table-condensed mx-5">
            <tr class="d-flex">
                <td class="col-3">지역</td>
                <td class="col-6">{{park_result.gu}}</td>
                <td class="col-3">
                    <button class="btn btn-primary btn-sm ml-5"
                            onclick="location.href='/park'">재실행</button>
                </td>
            </tr>
            <tr class="d-flex">
                <td class="col-3">구 면적</td>
                <td class="col-9">{{'{:,}'.format(park_result.gu_area|int)}} m<sup>2</sup></td>
            </tr>
            <tr class="d-flex">
                <td class="col-3">공원 총 면적</td>
                <td class="col-9">{{'{:,}'.format(park_result.park_area|int)}} m<sup>2</sup></td>
            </tr>
            <tr class="d-flex">
                <td class="col-3">공원 수</td>
                <td class="col-9" colspan="2">{{park_result.park_cnt}} 개</td>
            </tr>
        </table>
        <div class="w-90 ml-5">
            <iframe src="{{url_for('static', filename='img/park_res.html', q=mtime)}}" frameborder="1" width="800" height="500"></iframe>
        </div>
{% endblock %}