{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>번역 결과 - {{res.lang}}</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table">
                <tr class="d-flex" style="background-color: beige;">
                    <td class="col-2"><strong>원본 텍스트</strong></td>
                    <td class="col-10">{{res.input}}</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-2"><strong>네이버 번역기</strong></td>
                    <td class="col-10">{{res.naver}}</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-2"><strong>카카오 번역기</strong></td>
                    <td class="col-10">{{res.kakao}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="btn btn-primary" 
                                onclick="location.href='/natlang/translate'">재실행</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}