{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>IMDB 영화평 분류</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form action="/advanced/imdb" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <div class="form-check-inline">
                                <label for="form-check-label">
                                    <input type="radio" class="form-check-input" name="option" value="index" checked>
                                    <label for="index">테스트 인덱스</label>
                                </label>
                            </div>
                        </td>
                        <td><input type="text" class="form-control" id="index" name="index" placeholder="0 ~ 6,249 사이의 값 입력"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check-inline">
                                <label for="form-check-label">
                                    <input type="radio" class="form-check-input" name="option" value="review">
                                    <label for="review">리뷰 직접 입력</label>
                                </label>
                            </div>
                        </td>
                        <td><textarea name="review" id="review" cols="60" rows="8"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary mr-2">실행</button>
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}